@charset "UTF-8";

@font-face {
  font-family: 'gdrts-trend';
  src:  url('fonts/gdrts-trend.eot?cm7cri');
  src:  url('fonts/gdrts-trend.eot?cm7cri#iefix') format('embedded-opentype'),
    url('fonts/gdrts-trend.ttf?cm7cri') format('truetype'),
    url('fonts/gdrts-trend.woff?cm7cri') format('woff'),
    url('fonts/gdrts-trend.svg?cm7cri#gdrts-trend') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gdrts-trend-"],
[class*=" gdrts-trend-"] {
  display: inline-block;
  font: normal normal normal 14px/1 "gdrts-trend";
  font-size: inherit;
  text-rendering: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gdrts-trend-down:before {
  content: "\64";
}
.gdrts-trend-up:before {
  content: "\75";
}

/* Thumbs Rating */
.gdrts-thumbs-rating.gdrts-with-fonticon.gdrts-fonticon-gdrts-trend .gdrts-thumb-link .gdrts-thumb-symbol {
    font-family: "gdrts-trend";
}

/* Theme: Trend */
.gdrts-thumbs-rating.gdrts-thumbs-theme-trend .gdrts-thumb-up .gdrts-thumb-symbol:hover {
    color: #008403;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend .gdrts-thumb-down .gdrts-thumb-symbol:hover {
    color: #840000;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend.gdrts-higher-is-zero {
    background: #f8f8f8;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend.gdrts-higher-is-up {
    background: #e7ffe7;
    border-radius: 10px;
    border: 2px solid #d0ffd0;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend.gdrts-higher-is-down {
    background: #ffe7e7;
    border-radius: 10px;
    border: 2px solid #ffd0d0;
}

/* Theme: Trend */
.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment .gdrts-thumb-up .gdrts-thumb-symbol:hover {
    color: #008403;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment .gdrts-thumb-down .gdrts-thumb-symbol:hover {
    color: #840000;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment.gdrts-higher-is-zero {
    background: #f8f8f8;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment.gdrts-higher-is-up {
    background: #e7ffe7;
    border-radius: 10px;
    border: 2px solid #d0ffd0;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment.gdrts-higher-is-down {
    background: #ffe7e7;
    border-radius: 10px;
    border: 2px solid #ffd0d0;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment {
    padding: 2px 12px;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment > div {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
}

.gdrts-thumbs-rating.gdrts-thumbs-theme-trend-comment .gdrts-thumb-rating {
    margin: 0 8px;
    font-size: 12px;
}
